<div class="card">
  <div class="card-header">
    Add new FAQ
  </div>
  <div class="card-body">
    <form (submit)="addQuestion()">
      <div class="form-group">
        <label for="text">Question text</label>
        <input type="text" class="form-control" [(ngModel)]="text" name="text">
      </div>
      <div class="form-group">
          <label for="text">Question answer</label>
          <input type="text" class="form-control" [(ngModel)]="answer" name="answer">
        </div>      
        <input type="submit" class="btn btn-primary" value="Submit">
    </form>
  </div>
</div>