
  <div class="question">
      <div class="card">
        <div class="card-header">
          {{ question.text }} 
          <a href="javascript:void(0)" class="btn btn-link" (click)="question.hide = !question.hide;">{{ question.hide? 'Show':'Hide' }}</a>
          <a href="javascript:void(0)" class="btn btn-danger btn-link" (click)="removeQuestion(question);">Delete</a>
        </div>
        <div [hidden]="question.hide" class="card-body">
          <p  class="card-text">{{ question.answer }}</p>
        </div>
      </div>
      <br/>
  </div>
